@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat&display=swap');

.content.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.logo {
    width: 120px;
    grid-column: 1/2;
}

#logolink {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

header {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a {
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    color: whitesmoke;
}

nav a {
    text-align: center;
    color: #92BCEA; 
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    background-color: #92BCEA;
    color: #ffffff;
}


.hero-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
    
}


.home-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin-top: 200px;
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}


.work-card {
   
    text-align: center;
    border-color:  #92BCEA;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 3px 3px 2px #92BCEA;

}

.work-img {
    width: 200px;
    height: 200px;
}

h2 {
    text-align: center;
    margin-top: 50px;
}


.personal-card {
    text-align: center;
    border-color:  #92BCEA;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 3px 3px 2px #92BCEA;
}

.personal-work-card {
    text-align: center;
    border-color:  #92BCEA;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 3px 3px 2px #92BCEA
}

.kop-card {
    text-align: center;
    border-color:  #92BCEA;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 3px 3px 2px #92BCEA
}

.kop2-img {
    width: 200px;
    height: 200px;
}

.wwr-card {
    text-align: center;
    border-color:  #92BCEA;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 3px 3px 2px #92BCEA
}

.wwr-img{
    width: 200px;
    height: 200px;
}


.contact-card {
    grid-column: 3/3;
    text-align: center;
    border-color:  #92BCEA;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 3px 3px 2px #92BCEA;
}

.shaka-img {
    width: 300px;
    height: 300px;  
}

#hero {
    margin-top: -100;
    border-color:  #92BCEA;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    

}



.hero-img {
    width: 100%;

}

.hero-box {
    margin-bottom: 100px;
    margin-left: 100px;
   
}

.box {
    background-color: #92BCEA;
    color: #7A93AC;
    height: 400px;
    width: 100%;
    /* padding: 10px; */
    margin: 10px 0px 10px;
    grid-column: 1/2;
    border-radius: 10px;
}

.personal-box {
    height: 400px;
    width: 100%;
    background-color: #92BCEA;
    border-radius: 10px;
}

.personal-img {
    grid-column: 2/2;
    width: 300px;
    height: 300px;
}

footer {
    background-color: #ffffff;
    color: #25171a;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3 {
    color: #C47335;
    text-decoration: none;
}

footer a {
    color:#C47335;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
}


