@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat&display=swap');

.content.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.logo {
    width: 120px;
    grid-column: 1/2;
}

#logolink {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

header {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 150px auto;
}

nav a {
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
}

nav a:hover {
    color: #b1a1ed;
}

nav a {
    text-align: center;
    color: #b1a1ed; 
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    background-color: #ffffff;
    color: #b1a1ed;
}


.hero-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr)
    
}

h1 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #b1a1ed;

}

p {
    font-family: 'Lato';
    text-align: center;
    color: #b1a1ed;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
    margin-top: 200px;
}

.work-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 1/1;
}


.work-card {   
    text-align: center;
    border-color:  #92BCEA;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 3px 3px 2px #92BCEA;

}

.work-img {
    width: 200px;
    height: 200px;
    grid-column: 2/2;
}

#personal-img {
    width: 600px;
    height: 400px;
}


h2 {
    margin-top: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: right;
    color: #b1a1ed;
    
}


.personal-card {
    text-align: center;
    border-color:  #92BCEA;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 3px 3px 2px #92BCEA;
}

.personal-work-card {
    grid-column: 2/2;
    text-align: center;
    border-color:  #92BCEA;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 3px 3px 2px #92BCEA
}

.kop-card {
    text-align: center;
    border-color:  #92BCEA;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 3px 3px 2px #92BCEA
}

.kop2-img {
    width: 600px;
    height: 400px;
}

#kop2-img {   
    grid-column: 2/2;
    width: 200px;
    height: 200px;
   
}

.kop-box {
    height: 400px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}

.kop-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column: 2/2;


}

.wwr-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.wwr-card {
    text-align: center;
    border-color:  #92BCEA;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 3px 3px 2px #92BCEA;
}

#wwr-img {
    width: 600px;
    height: 400px;

}

.wwr-img {
    width: 600px;
    height: 400px;
}

.wwr-box {
    height: 400px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px; 

}

.contact-card {
    grid-column: 3/3;
    text-align: center;
    border-color:  #92BCEA;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    box-shadow: 3px 3px 2px #92BCEA;
}

.aboutme-grid {
    display: grid;
    grid-template-rows: repeat(3);
    /* grid-template-columns: repeat(2); */
    grid-gap: 20px;

}

.kayaking-card {
    grid-row: 1/1;
    border-color:  #b1a1ed;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    /* box-shadow: 3px 3px 2px #92BCEA; */

}

.rr-card {
    grid-row: 2/2;
    border-color:  #92BCEA;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    /* box-shadow: 3px 3px 2px #92BCEA; */
}

.disney-family-card {
    grid-row: 3/3;
    border-color:  #b1a1ed;
    border-width: 1px;
    border-style: solid;
    border-radius: 20px;
    /* box-shadow: 1px 1px 2px #92BCEA; */
}

.island-img {
    width: 600px;
    height: 400px;
    padding: 10px;
    margin: 10px;
    border-width: 5px;
    border-style: solid;
    border-color: #b1a1ed;
}

.rr-img {
    width: 600px;
    height: 400px;
    padding: 20px;
    margin: 20px;

}


.disney-family-img {
    width: 600px;
    height: 400px;
    padding: 20px;
    margin: 20px;
}

.shaka-img {
    width: 300px;
    height: 300px;  
}

.side-box {
    float: right;
    text-align: center;
}
/* #hero {
    margin-top: -100;
    border-color:  #92BCEA;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    

} */



.hero-img {
    width: 100%;

}

.hero-box {
    margin-bottom: 100px;
    margin-left: 100px;
   
}

.box {
    background-color: #92BCEA;
    color: #7A93AC;
    height: 400px;
    width: 100%;
    /* padding: 10px; */
    margin: 10px 0px 10px;
    grid-column: 1/2;
    border-radius: 10px;
}

.personal-box {
    height: 400px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 10px;
}

#personal-img {
    grid-column: 2/2;
    width: 300px;
    height: 300px;
}

.personal-img {
    width: 600px;
    height: 400px;
}

footer {
    background-color: #ffffff;
    color: #25171a;
    text-decoration: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 25px 50px;
    margin-top: 200px;
}

footer h3 {
    color: #C47335;
    text-decoration: none;
}

footer a {
    color:#C47335;
    text-decoration: none;
}

footer a:hover {
    color: white;
    text-decoration: none;
}

footer .social img {
    padding-top: 15px;
}


